**/.env
**/.env.*

**/.git

**/.vscode

**/*.db
**/*.db-*

**/supervise/*
**/supervise/.*

**/.DS_Store

**/.idea
**/.vscode
**/.vscode/*
**/.vscode/.*
**/.vscode/extensions/*
**/.vscode/extensions/.*
**/.vscode/extensions/

**/wg0.conf
**/resolv.conf
**/Caddyfile
